@model IEnumerable<MiniMartTest.Models.Image>
@{
    ViewBag.Title = "Mini Mart";

    List<Post> postList = Session["postList"] as List<Post>;
    List<Image> imageList = Session["imageList"] as List<Image>;
    Post selectedPost = new Post();
    selectedPost.postId = -1;
    int dataPostId = -1;
    if (Session["SelectedPost"] != null)
    {
        selectedPost = Session["SelectedPost"] as Post;
    }

}

@*Main content View*@


<head>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        // NOTE: check HomeController for other function involved in infinite scrolling

        var pageSize = 15; // number of items per fetch
        var pageIndex = 0; // must be in sync with database id!

        var working = false; // simple lock to prevent async access

        $(document).ready(function ()
        {
            myFunction();

            GetData(); // initial retrieve

            window.onscroll = function (e)
            {
                if (!working && (window.innerheight + window.pageyoffset) >= document.body.offsetheight - 2) // condition for scrolling
                    getdata(); // run when scrollbar is near end
            }
        });

        // remove later
        function SamplePopulate()
        {
            for(var i = 0; i < 15; i++)
                $("#posts-content").append("<td><h3>hey hey" +
                                                            "</h3>"

                                                    + "</td>");
        }

        // function to fetch data
        function GetData() {
            $.ajax({
                type: 'GET',
                url: '/Home/GetData',
                data:{"pageindex":pageIndex,"pagesize":pageSize},
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) { // success action
                    if (data) {
                        for (var i = 0; i < data.length; i++)
                            $("#posts-content").append('<td><h3>' +
                                                                     '<img src="' + data[i].imageSrc +'" style="max-width:120px; max-width:120px" />'
                                                                 + '<br />' +  data[i].postName 
                                                                 + ' </h3></td>' );
                            ++pageIndex;
                    
                            
                    }

                },
                beforeSend : function () {
                    working = true;
                },
                complete : function () {
                    working = false;
                },
                error: function () {
                    // log error
                    working = false;
                }
            });
        }
    </script>
</head>


<div class="row">
    <h1 id="main-title">@ViewBag.Title</h1>
    <hr />
    <input type="button" value="Create a new Post" id="post-button" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Post", "Post") + "'");" />
</div>

@*Profile navigation*@
<div class="row">
    <div class="col-md-2">
        <table>
            <tr>
                <td>
                    <img id="avatar-logo" src="@Url.Content("~/Content/Images/avatar.png")" />
                    <h2>Name</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <p>@Html.ActionLink("Home", "Index", "Home")</p>
                    <p>@Html.ActionLink("About", "About", "Home")</p>
                    <p>@Html.ActionLink("Contact", "Contact", "Home")</p>
                    <p><a class="cursor-pointer" data-toggle="modal" data-target="#savedModal">Saved Posts</a></p>
                    <p><a class="cursor-pointer" data-toggle="modal" data-target="#profileModal">Edit Profile</a></p>
                </td>
            </tr>
        </table>
    </div>

    @*Postings*@
    <div id="posting" class="container-fluid main-content">
        <table id="posts">
            <tr id="posts-content">
               
            </tr>
        </table>
    </div>

    @*Item description panel*@
    <div id="info-panel" style="display:none" class="col-md-3 info-content">
       @if(selectedPost.postId != -1) {
            <h3>@selectedPost.name</h3>

            foreach (Image i in imageList)
            {
                if (i.postId == selectedPost.postId)
                {
                    var base64 = Convert.ToBase64String(i.imageBinary);
                    var imageSrc = string.Format("data:image/gif;base64,{0}", base64);

                    <p class="imageInfoBox"><img src="@imageSrc" style="max-width:120px; max-width:120px" /></p>
                   break;
               }
           }

            <p class="content-padding">@selectedPost.description</p>
            <p class="content-padding">Condition: @selectedPost.condition</p>

            <div class="button-group">
                <button class="btn btn-default" onclick="location.href='@Url.Action("SavePost", "Home", new {postId = selectedPost.postId })';">Save Item</button>
                <input type="button" value="View Item Page" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Index", "PostDetail", new {postId = selectedPost.postId}) + "'");" />
            </div>
       }   
    </div>

    <!--Saved Post Modal -->
    <div id="savedModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Saved Posts</h4>
                </div>
                <div class="modal-body">
                    <p>Saved Posting</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!--Profile Edit Modal -->
    <div id="profileModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Your Profile</h4>
                </div>
                <div class="modal-body">
                    <img id="modal-avatar-logo" src="@Url.Content("~/Content/Images/avatar.png")" />
                    <h2>Name</h2>
                    <p>Email Address: </p>
                    <p>Phone Number: </p>
                    <p><a>Change Profile Picture</a></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    @*@{
        var users = (List<MiniMartTest.Models.User>)ViewData["UserList"];

    }
    @foreach (MiniMartTest.Models.User user in users)
            {
        <p3>@user.Id</p3> <br />
                <p3>@user.fName</p3><br />
                <p3>@user.lName</p3><br />
                <p3>@user.phoneNumber</p3><br />
                <p3>@user.email</p3>
    }*@
</div>

@section JavaScript {
    <script>
        function myFunction() {

            var x = document.getElementById("info-panel");
            var post = document.getElementById("posting");

            if (x.style.display === "none") {
                x.style.display = "block";
                x.style.transition = "all 2s";
                post.classNmyame = post.className + " col-md-7";
            } else {
                post.className = post.className.replace(/\bcol-md-7\b/, '');
                x.style.display = "none";
            }


            //var url = "/Home/ZoomUpPost";
            //var post = p;
            //$.get(url, {post: post}, function (data) {
            //    $("#info-pane").html(data.postId)
            //})

        }
    </script>
}
@*<h3>@selectedPost.name</h3>

@foreach (Image i in imageList)
{
    if (i.postId == selectedPost.postId)
    {
        var base64 = Convert.ToBase64String(i.imageBinary);
        var imageSrc = string.Format("data:image/gif;base64,{0}", base64);

        <p class="imageInfoBox"><img src="@imageSrc" style="max-width:120px; max-width:120px" /></p>
        break;
    }
}*@